<div class="container">
  <h2>Request Searching</h2>
  <form #form="ngForm"
        class="shadow p-3 mb-5 bg-white rounded"
        (submit)="search()">
    <div class="filter">
      <div class="form-row">
        <div class="searching-filter shadow p-3 col-md-3 bg-white rounded">
          <label for="model">Vacation year</label>
          <input class="form-control"
                 [(ngModel)]="this.searchDto.year"
                 [ngModelOptions]="{standalone: true}"
                 name="model">
        </div>
        <div class="searching-filter shadow p-3 col-md-3 bg-white rounded">
          <label for="model">Employee Username</label>
          <input class="form-control"
                 [(ngModel)]="this.searchDto.employeeUsername"
                 [ngModelOptions]="{standalone: true}"
                 name="model">
        </div>
        <div class="searching-filter shadow p-3 bg-white rounded">
          <label>Request status</label>
          <select id="selector"
                  [(ngModel)]="this.searchDto.status"
                  [ngModelOptions]="{standalone: true}">
            <option [ngValue]="-1">All status</option>
            <option [ngValue]="0">Pending</option>
            <option [ngValue]="1">Approved</option>
            <option [ngValue]="2">Waiting for correction</option>
            <option [ngValue]="3">Declined</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="dates shadow col-md-6 bg-white rounded">
          <label>Dates</label>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <div class="input-group">
              <input type="date"
                     [(ngModel)]="this.searchDto.requestBottomDate"
                     [ngModelOptions]="{standalone: true}" />
            </div>
          </div>
          <div class="form-group">
            <label for="startDate">Final Date</label>
            <div class="input-group">
              <input type="date"
                     [(ngModel)]="this.searchDto.requestTopDate"
                     [ngModelOptions]="{standalone: true}" />
            </div>
          </div>
        </div>
        <div class="searching-filter shadow p-3 col-md-5 bg-white rounded">
          <label>Vacation days</label>
          <div class="custom-slider">
            <ngx-slider [options]="options"
                        [(value)]="minValue"
                        [(highValue)]="maxValue"></ngx-slider>
          </div>
        </div>
      </div>
      <div class="buttons">
        <button type="button"
                class="btn btn-danger"
                (click)="deleteFilter()">Clear filter</button>
        <button type="submit"
                class="btn btn-primary">Search</button>
      </div>
    </div>
  </form>
</div>
<div *ngIf="requests.length > 0"
     class="container requests-section">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Year</th>
          <th scope="col">Days</th>
          <th scope="col">Creation date</th>
          <th scope="col">Start date</th>
          <th scope="col">Final date</th>
          <th scope="col">Username</th>
          <th scope="col">Status</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let request of requests | paginate: { itemsPerPage: count, currentPage: p }, let i = index">
          <th scope="row">{{i+1}}</th>
          <th scope="row">{{request.year}}</th>
          <th scope="row">{{request.numberOfVacationDays}}</th>

          <th scope="row">{{request.requestCreationDate | date}}</th>
          <th scope="row">{{request.vacationStartDate | date}}</th>
          <th scope="row">{{request.vacationFinalDate | date}}</th>

          <th scope="row">{{request.employeeUsername}}</th>
          <th scope="row">{{request.statusString}}</th>
          <th scope="row">
            <a class="btn btn-outline-info"
               role="button"
               routerLink='/request/{{request.requestId}}'>View
            </a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  <ngx-spinner id="spinner"
               bdColor="rgba(51, 51, 51, 0.8)"
               size="default"
               type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
  </ngx-spinner>