<div class="container">
  <form id="input-form">
    <div class="form-group shadow p-3 bg-white rounded">
      <h2 id="credentials">Login credentials</h2>
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        <input type="text"
               class="form-control"
               id="username"
               [(ngModel)]="loginDto.username"
               name="username"
               #username="ngModel"
               placeholder="Your username"
               required>
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               [(ngModel)]="loginDto.password"
               name="password"
               #password="ngModel"
               placeholder="Your password"
               required>
      </div>
      <div class="footer">
        <button type="submit"
                class="btn btn-primary"
                [disabled]=" username.invalid || password.invalid"
                (click)="submit()">Sign in</button>

        <a href="/home">Forgot password?</a>
      </div>
    </div>

  </form>
</div>
<ngx-spinner id="spinner"
             bdColor="rgba(51, 51, 51, 0.8)"
             size="default"
             type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>