#input-form{
  width: 35rem;
  margin: auto;
  padding: 10px;
  text-align: left;
}
#credentials{
  text-align: center;
}

.form-control{
  margin-bottom: 1rem;
}
.footer{
  display: flex;
  justify-content: space-between;
}