<div class="container">
    <form #form="ngForm">
        <div class="request shadow p-3 mb-5 bg-white rounded">
            <h2>Create Request</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="request">Year</label>
                    <input class="form-control"
                           name="year"
                           #year="ngModel"
                           [(ngModel)]="requestForm.year">
                </div>
            </div>
            <div class="form-row">
                <div class="dates">
                    <div class="form-group"
                         id="start-date">
                        <label for="startDate">Start Date</label>
                        <div class="input-group">
                            <input type="date"
                                   [(ngModel)]="requestForm.startDate"
                                   [ngModelOptions]="{standalone: true}"
                                   required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="finishDate">Final Date</label>
                        <div class="input-group">
                            <input type="date"
                                   [(ngModel)]="requestForm.finishDate"
                                   [ngModelOptions]="{standalone: true}"
                                   required />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="requestDate">Request Creation Date</label>
                    <div class="input-group">
                        <input type="date"
                               [(ngModel)]="requestForm.requestDate"
                               [ngModelOptions]="{standalone: true}"
                               required />
                    </div>
                </div>
            </div>
            <div class="buttons">
                <button type="button"
                        class="btn btn-primary store"
                        (click)="createRequest()">Create Request</button>
            </div>
        </div>
    </form>
</div>