.container{
    width: 45rem;
}
.form-row{
    display:flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.buttons{
    display: flex;
    justify-content: flex-end;
}
.dates{
    display:flex;
}
#start-date{
    margin-right: 1rem;
}