<div class="container">
  <div class="form-group shadow p-3 bg-white rounded">
    <h2 id="credentials">Request <span class="info">#{{id}}</span>, made by <span
            class="info">{{request.employee.username}}</span></h2>
    <div class="form-row">
      <div class="form-group col-md-5">
        <p>First name: <span class="info">{{request.employee.firstname}}</span></p>
      </div>
      <div class="form-group col-md-5">
        <p>Last name: <span class="info">{{request.employee.lastname}}</span></p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <p>Position: <span class="info">{{request.employee.position}}</span></p>
      </div>
      <div class="form-group col-md-5">
        <p>Furlough Left: <span class="info">{{request.employee.furloughLeft}}</span></p>
      </div>
    </div>
    <hr>
    <div class="form-row">
      <div class="form-group col-md-5">
        <p>Request Date: <span class="info">{{request.requestDate | date}}</span></p>
      </div>
      <div class="form-group col-md-5">
        <p>Days: <span class="info">{{request.numberOfDays}}</span></p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <p>Start Date: <span class="info">{{request.startDate | date}}</span></p>
      </div>
      <div class="form-group col-md-5">
        <p>Finish Date: <span class="info">{{request.finishDate | date}}</span></p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <p>Year: <span class="info">{{request.year}}</span></p>
      </div>
      <div class="form-group col-md-5">
        <p>Status: <span class="info">{{request.statusString}}</span></p>
      </div>
    </div>
  </div>
</div>
<div class="container requests-section">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Correction Date</th>
        <th scope="col">Admin</th>
        <th scope="col"
            style="width: 55%;">Reason</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let correction of request.corrections; index as i">
        <td>{{i+1}}</td>
        <td>{{correction.correctionDate | date}}</td>
        <td>{{correction.employeeId}}</td>
        <td>{{correction.reason}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="btn-status shadow p-3 bg-white rounded container"
     *ngIf="globals.isAdmin && !requestClosed && !adminRequest">
  <h2>Change request status:</h2>
  <button type="button"
          class="btn btn-secondary"
          [disabled]="request.status===2"
          (click)="AddCorrectionReqson()">Correction</button>
  <button type="button"
          class="btn btn-danger"
          (click)="DeclineRequest()">Decline</button>
  <button type="button"
          class="btn btn-success"
          (click)="ApproveRequest()">Approve</button>
</div>
<div class="request-correction shadow p-3 bg-white rounded container"
     *ngIf="AdminCorrection == true">
  <h2>Reason for Correction:</h2>
  <div class="form-group col-md-6">
    <input type="text"
           class="form-control"
           id="correction"
           [(ngModel)]="Correction.reason"
           name="reason"
           #reason="ngModel"
           placeholder="Your reason"
           required>
  </div>
  <button type="button"
          class="btn btn-secondary"
          [disabled]="reason.invalid"
          (click)="ChangeStatusForCorrection()">Add Correction reason</button>
</div>
<div class="request-correction container"
     *ngIf="ownRequest && awaiting">
  <button type="button"
          class="btn btn-danger"
          routerLink="/request/editing/{{request.id}}">Edit Request</button>
</div> 
<ngx-spinner id="spinner"
             bdColor="rgba(51, 51, 51, 0.8)"
             size="default"
             type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>