.container{
  width: 45rem;
  margin: auto;
  padding: 10px;
  text-align: left;
  font-size:21px;
  margin-bottom: 5rem;
}
.form-row{
  display: flex;
  justify-content: space-between;
}
#credentials{
  text-align: center;
}
.info{
  font-weight: bold;
}
hr{
  height:5px;
  color:black;
}
#correction{
  margin: 2rem;
  width: 150%;
}
.requests-section{
  text-align: center;
}

.btn-status{
  display: flex;
  justify-content: space-around;
}
