<div class="container">
  <h2>User Searching</h2>
  <form #form="ngForm"
        class="shadow p-3 mb-5 bg-white rounded"
        (submit)="search()">
    <div class="filter">
      <div class="form-row">
        <div class="searching-filter shadow p-3 col-md-2 bg-white rounded">
          <label for="model">First name</label>
          <input class="form-control"
                 [(ngModel)]="filter.firstname"
                 [ngModelOptions]="{standalone: true}"
                 name="model">
        </div>
        <div class="searching-filter shadow p-3 col-md-2 bg-white rounded">
          <label for="model">Middle name</label>
          <input class="form-control"
                 [(ngModel)]="filter.middlename"
                 [ngModelOptions]="{standalone: true}"
                 name="model">
        </div>
        <div class="searching-filter shadow p-3 col-md-2 bg-white rounded">
          <label for="model">Last name</label>
          <input class="form-control"
                 [(ngModel)]="filter.lastname"
                 [ngModelOptions]="{standalone: true}"
                 name="model">
        </div>
        <div class="searching-filter shadow p-3 col-md-2 bg-white rounded">
          <label for="model">Username</label>
          <input class="form-control"
                 [(ngModel)]="filter.username"
                 [ngModelOptions]="{standalone: true}"
                 name="model">
        </div>
        <div class="searching-filter shadow p-3 col-md-2 bg-white rounded">
          <label for="model">Email</label>
          <input class="form-control"
                 [(ngModel)]="filter.email"
                 [ngModelOptions]="{standalone: true}"
                 name="model">
        </div>

      </div>
      <div class="form-row">
        <div class="searching-filter shadow p-3 bg-white rounded">
          <label for="model">Position</label>
          <input class="form-control"
                 [(ngModel)]="filter.position"
                 [ngModelOptions]="{standalone: true}"
                 name="position">
        </div>
        <div class="searching-filter shadow p-3 bg-white rounded">
          <label for="model">Role</label>
          <select id="selector"
                  [(ngModel)]="filter.role"
                  [ngModelOptions]="{standalone: true}">
            <option [ngValue]="-1">All roles</option>
            <option [ngValue]="1">Employee</option>
            <option [ngValue]="2">Admin</option>
          </select>
        </div>
        <div class="searching-filter shadow p-3 col-md-5 bg-white rounded">
          <label>Furlough range</label>
          <div class="custom-slider">
            <ngx-slider [options]="options"
                        [(value)]="minValue"
                        [(highValue)]="maxValue"></ngx-slider>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button type="button"
              class="btn btn-danger"
              (click)="deleteFilter()">Clear filter
      </button>
      <button type="submit"
              class="btn btn-primary">Search
      </button>
    </div>

  </form>
</div>

<div class="container users-section"
     *ngIf="employees.length>-1">
  <div class="shadow p-3 mb-5 bg-white rounded">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First name</th>
          <th scope="col">Middle name</th>
          <th scope="col">Last name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Position</th>
          <th scope="col">Furlough Left</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | paginate: { itemsPerPage: count, currentPage: p }">
          <th scope="row">{{employee.id}}</th>
          <th scope="row">{{employee.firstname}}</th>
          <th scope="row">{{employee.middlename}}</th>

          <th scope="row">{{employee.lastname}}</th>
          <th scope="row">{{employee.username}}</th>
          <th scope="row">{{employee.email}}</th>

          <th scope="row">{{employee.role.name}}</th>
          <th scope="row">{{employee.position}}</th>
          <th scope="row">{{employee.furloughLeft}}</th>
          <th scope="row">
            <a class="btn btn-outline-info"
               role="button"
               routerLink='/profile/{{employee.id}}'>View
            </a>
          </th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container text-right">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<ngx-spinner id="spinner"
             bdColor="rgba(51, 51, 51, 0.8)"
             size="default"
             type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>