.container{
  width: 120rem;
}
.searching-filter{
  overflow:hidden;
  height:1%;
}
.users-section{
  width: 80rem;
}
.filter{
  width: 70rem;
  margin: auto;
}
.form-group{
  margin: 2rem;
}

.form-row{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
#selector{
  display: block;
}
.buttons{
  display: flex;
  justify-content: space-between;
}