#input-form{
  width: 45rem;
  margin: auto;
  padding: 10px;
  text-align: left;
}
.form-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
#credentials{
  text-align: center;
}
.ng-valid[required]:not(.password) {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid:not(form, .password){
  border-left: 5px solid #a94442; /* red */
}
.invalid{
  color:#a94442;
}