<div class="container">
       <form id="input-form">
              <div class="form-group shadow p-3 bg-white rounded">
                     <h2 id="credentials">Registration credentials</h2>
                     <div class="form-row">
                            <div class="form-group col-md-5">
                                   <label for="firstname">First name</label>
                                   <input type="text"
                                          class="form-control"
                                          id="firstname"
                                          [(ngModel)]="employee.firstname"
                                          name="firstname"
                                          #firstname="ngModel"
                                          placeholder="Your first name here"
                                          required>
                                   <div class="invalid"
                                        [hidden]="firstname.valid || firstname.pristine">
                                          First name is required.
                                   </div>
                            </div>
                            <div class="form-group col-md-5">
                                   <label for="middlename">Middle name</label>
                                   <input type="text"
                                          class="form-control"
                                          id="middlename"
                                          [(ngModel)]="employee.middlename"
                                          name="middlename"
                                          #middlename="ngModel"
                                          placeholder="Your middle name here">
                            </div>
                     </div>
                     <div class="form-row">
                            <div class="form-group col-md-5">
                                   <label for="lastname">Last name</label>
                                   <input type="text"
                                          class="form-control"
                                          id="lasatname"
                                          [(ngModel)]="employee.lastname"
                                          name="lastname"
                                          #lastname="ngModel"
                                          placeholder="Your last name here"
                                          required>
                                   <div class="invalid"
                                        [hidden]="lastname.valid || lastname.pristine">
                                          Last name is required.
                                   </div>
                            </div>
                     </div>
                     <div class="form-row">
                            <div class="form-group col-md-5">
                                   <label for="username">Username</label>
                                   <input type="text"
                                          class="form-control"
                                          id="username"
                                          [(ngModel)]="employee.username"
                                          name="username"
                                          #username="ngModel"
                                          placeholder="Your username here"
                                          required>
                                   <div class="invalid"
                                        [hidden]="username.valid || username.pristine">
                                          Username is required.
                                   </div>
                            </div>
                            <div class="form-group col-md-5">
                                   <label for="email">Email</label>
                                   <input type="email"
                                          class="form-control"
                                          id="email"
                                          [(ngModel)]="employee.email"
                                          name="email"
                                          #email="ngModel"
                                          placeholder="Your email here @gmail.com"
                                          pattern="^[A-Za-z0-9._%-]+@[A-Za-z-]+\.[A-Za-z]{2,5}$"
                                          required>
                                   <div class="invalid"
                                        [hidden]="(email.valid || email.pristine)">
                                          Invalid email.
                                   </div>
                            </div>
                     </div>
                     <div class="form-row">
                            <div class="form-group col-md-5">
                                   <label for="password">Password</label>
                                   <input type="password"
                                          class="form-control password"
                                          id="password"
                                          [(ngModel)]="employee.credential.password"
                                          name="password"
                                          #password="ngModel"
                                          placeholder="Your password here"
                                          required>
                            </div>
                            <div class="form-group col-md-5">
                                   <label for="repeatPassword">Repeat Password</label>
                                   <input type="password"
                                          class="form-control password"
                                          id="repeatPassword"
                                          [(ngModel)]="employee.credential.repeatPassword"
                                          name="repeatPassword"
                                          #repeatPassword="ngModel"
                                          placeholder="Your password here again"
                                          required>
                                   <div class="invalid"
                                        [hidden]="repeatPassword.value == password.value || repeatPassword.untouched || password.untouched">
                                          Password missmatch.
                                   </div>
                            </div>
                     </div>
                     <label for="position">Position</label>
                     <input type="text"
                            class="form-control"
                            id="position"
                            [(ngModel)]="employee.position"
                            name="position"
                            #position="ngModel"
                            placeholder="Your position here"
                            required>
                     <div class="invalid"
                          [hidden]="position.valid || position.pristine">
                            Position is required.
                     </div>
                     <button type="submit"
                             class="btn btn-primary"
                             [disabled]="firstname.invalid || lastname.invalid || username.invalid
              || email.invalid || password.invalid || repeatPassword.invalid || position.invalid"
                             (click)="submit()"
                             style="margin-top: 1rem;">Register</button>
              </div>
       </form>
</div>