<div class="container">
    <form #form="ngForm">
        <div class="request shadow p-3 mb-5 bg-white rounded">
            <h2>Edit Request</h2>
            <div class="form-row">
                <div class="form-group">
                    <label for="request">Year</label>
                    <input class="form-control"
                           name="year"
                           #year="ngModel"
                           [(ngModel)]="requestModel.year"
                           required />
                </div>
            </div>
            <div class="form-row">
                <div class="dates">
                    <div class="form-group"
                         id="start-date">
                        <label for="startDate">Start Date</label>
                        <div class="input-group">
                            <input type="date"
                                   [(ngModel)]="requestModel.startDate"
                                   [ngModelOptions]="{standalone: true}"
                                   required />
                        </div>
                        <p class="current">Current: <span class="info">{{requestModel.startDate | date}}</span></p>
                    </div>
                    <div class="form-group">
                        <label for="finishDate">Final Date</label>
                        <div class="input-group">
                            <input type="date"
                                   [(ngModel)]="requestModel.finishDate"
                                   [ngModelOptions]="{standalone: true}"
                                   required />
                        </div>
                        <p class="current">Current: <span class="info">{{requestModel.finishDate | date}}</span></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="requestDate">Request Creation Date</label>
                    <div class="input-group">
                        <input type="date"
                               [(ngModel)]="requestModel.requestDate"
                               [ngModelOptions]="{standalone: true}"
                               required />
                    </div>
                    <p class="current">Current: <span class="info">{{requestModel.requestDate | date}}</span></p>
                </div>
            </div>
            <div class="buttons">
                <button type="button"
                        class="btn btn-primary store"
                        (click)="editRequest()">Edit Request</button>
            </div>
        </div>
    </form>
</div>
<ngx-spinner id="spinner"
             bdColor="rgba(51, 51, 51, 0.8)"
             size="default"
             type="ball-spin-clockwise">
    <p style="color: white">Please Wait. </p>
</ngx-spinner>