.container{
  width: 45rem;
  margin: auto;
  padding: 10px;
  text-align: left;
  font-size:21px;
  margin-bottom: 5rem;
}
.form-row{
  display: flex;
  justify-content: space-between;
}
#credentials{
  text-align: center;
}
.info{
  font-weight: bold;
}

.requests-section{
  width: 60rem;
  margin-bottom: 0;
}
.edit-box{
  display:inline-block;
}
.btn-custom{
  float:right;
}
.changer{
  float: right;
  width: 50%;
}
.modal-body{
  font-size: 21px;
}