<div class="container">
  <div class="form-group shadow p-3 bg-white rounded">
    <h2 id="credentials">{{employeeDto.employee.username}}'s credentials</h2>
    <div class="form-row">
      <div class="form-group col-md-5">
        <p>First name: <span class="info">{{employeeDto.employee.firstname}}</span></p>
      </div>
      <div class="form-group col-md-5">
        <p *ngIf="employeeDto.employee.middlename">Middle name: <span
                class="info">{{employeeDto.employee.middlename}}</span></p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <p>Last name: <span class="info">{{employeeDto.employee.lastname}}</span></p>
      </div>
      <div class="form-group col-md-5">
        <p>Username: <span class="info">{{employeeDto.employee.username}}</span></p>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <p>Email: <span class="info">{{employeeDto.employee.email}}</span></p>
      </div>
      <div class="form-group col-md-5">
        <p class="edit-box">Role: <span class="info">{{employeeDto.employee.role.name}}</span></p>
        <button class="btn btn-outline-secondary btn-custom"
                type="button"
                *ngIf="globals.isLogged && globals.isSuperAdmin && !adminOwnProfile"
                (click)="open(editRole)">Edit</button>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <p>Position: <span class="info">{{employeeDto.employee.position}}</span></p>
      </div>
      <div class="form-group col-md-5">
        <p class="edit-box">Furlough Left: <span class="info">{{employeeDto.employee.furloughLeft}}</span></p>
        <button class="btn btn-outline-secondary btn-custom"
                type="button"
                *ngIf="globals.isLogged && globals.isSuperAdmin && !adminOwnProfile"
                (click)="open(editFurlough)">Edit</button>
      </div>
    </div>
  </div>
</div>
<div class="container requests-section">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Request Date</th>
        <th scope="col">Year</th>
        <th scope="col">Days</th>
        <th scope="col">Start Date</th>
        <th scope="col">Finish Date</th>
        <th scope="col">Status</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of employeeDto.requests | paginate: { itemsPerPage: count, currentPage: p }; index as i">
        <td>{{request.id}}</td>
        <td>{{request.requestDate | date}}</td>
        <td>{{request.year}}</td>
        <td>{{request.numberOfDays}}</td>
        <td>{{request.startDate | date}}</td>
        <td>{{request.finishDate | date}}</td>
        <td>{{request.statusString}}</td>
        <td>
          <a class="btn btn-outline-info"
             role="button"
             [routerLink]="['/request/', request.id]">View</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container text-right">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
<ngx-spinner id="spinner"
             bdColor="rgba(51, 51, 51, 0.8)"
             size="default"
             type="ball-spin-clockwise">
  <p style="color: white">Please Wait. </p>
</ngx-spinner>

<ng-template #editFurlough
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">Edit Furlough</h4>
    <button type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    Starting value: <span class="info">{{employeeDto.employee.furloughLeft}}</span>
    <input class="changer"
           [(ngModel)]="newFurlough"
           [ngModelOptions]="{standalone: true}"
           id="number"
           type="number"
           value="employeeDto.employee.furloughLeft"
           min=0
           max=400>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Cancel click'); setDefaultFurlough()">Cancel</button>
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click'); changeFurlough()">OK</button>
  </div>
</ng-template>

<ng-template #editRole
             let-modal>
  <div class="modal-header">
    <h4 class="modal-title"
        id="modal-basic-title">Edit Role</h4>
    <button type="button"
            class="btn btn-danger"
            aria-label="Close"
            (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    Current role: <span class="info">{{employeeDto.employee.role.name}}</span>
    <select class="changer"
            [(ngModel)]="newRole"
            [ngModelOptions]="{standalone: true}">
      <option [ngValue]="1">User</option>
      <option [ngValue]="2">Admin</option>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Cancel click'); setDefaultRole()">Cancel</button>
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click'); changeRole()">OK</button>
  </div>
</ng-template>