<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container-fluid">
      <a class="navbar-brand"
         aria-current="page"
         [routerLink]="['/home']">Vacation system</a>

      <div class="btn-list">
         <a class="btn btn-outline-success my-2 my-sm-0"
            id="custom-btn"
            type="submit"
            *ngIf="globals.isAdmin"
            routerLink="/search">Browse</a>
         <a class="btn btn-outline-success my-2 my-sm-0"
            id="custom-btn"
            type="submit"
            *ngIf="globals.isAdmin"
            routerLink="/admin">Admin page</a>
         <a class="btn btn-outline-success"
            id="custom-btn"
            role="button"
            *ngIf="globals.isLogged"
            [routerLink]="['/request/creation']">Create Request</a>
         <a class="btn btn-outline-secondary"
            id="custom-btn"
            role="button"
            *ngIf="!globals.isLogged"
            [routerLink]="['/login']">Log in</a>
         <a class="btn btn-outline-secondary"
            id="custom-btn"
            role="button"
            *ngIf="!globals.isLogged"
            [routerLink]="['/register']">Register</a>
         <button class="btn btn-outline-secondary"
                 id="custom-btn"
                 type="button"
                 *ngIf="globals.isLogged"
                 (click)="viewProfile()">Profile</button>
         <button class="btn btn-outline-secondary"
                 *ngIf="globals.isLogged"
                 type="button"
                 (click)="logOut()">Log out</button>
      </div>

   </div>
</nav>